/.idea/*
out/*
.idea/workspace.xml
changeHunk.iml
log
target/*
!/pom.xml
logs
metricFiles
csv
src/main/scripts/changeLine.py
将删除 .idea/
将删除 out/
将删除 pom.xml
将删除 src/main/java/
将删除 src/main/resources/
将删除 src/test/java/
将删除 target/
